<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/css/email-confirm.css" rel="stylesheet" />
        <title>Email Confirm</title>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <h2>Please check your email to confirm your account</h2>
                <p>We've sent an email to your address with a link to confirm your account. Please check your inbox.</p>
            </div>
        </div>
    </body>
</html>


