<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/reset-passowrd-succes.css" rel="stylesheet" />
    <title>Password Reset Success</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="checkmark">
                ✔️
            </div>
            <h2>Password Reset Successfully!</h2>
            <p>
                You can now
                <a asp-controller="Home" asp-action="Index">log in</a>
                with your new password.
            </p>
        </div>
    </div>
</body>
</html>
