@model ErrorViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="~/css/etc/error.css" rel="stylesheet" />
    <title>@Model.Title</title>
</head>
<body>
    <div class="error-container">
        <h1 class="error-title">@Model.Title</h1>
        <p class="error-description">@Model.Description</p>
        <a class="back-button" asp-controller=@Model.AspController asp-action=@Model.AspAction>Go back</a>
    </div>
</body>
</html>
