<div class="container  ">
    <div class="row">
        <div class="col-md-6 ">
            <div class="img-box">
                <img src="/images/about-img.png" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="detail-box">
                <div class="heading_container">
                    <h2>
                        We Are MarkRestaurant
                    </h2>
                </div>
                <p>
                    MarkRestaurant is a fast-food establishment that caters to a diverse range of culinary preferences. With a
                    commitment to delivering delicious and satisfying meals, we take pride in offering a menu that appeals to
                    all tastes and ages. Our restaurant provides a welcoming atmosphere where customers can enjoy their favorite
                    dishes in a comfortable setting. At MarkRestaurant, we aim to make dining a delightful
                    experience for everyone.
                </p>
            </div>
        </div>
    </div>
</div>
