@using MarkRestaurant.Data.Repository;
@inject ProductRepository productRepository


<div class="container">
    <div class="heading_container heading_center">
        <h2>
            Our Menu
        </h2>
    </div>

    <div class="filter-container">
        <ul class="filter-list">
            <li class="flist-item active" data-category="All">All</li>
            <li class="flist-item" data-category="Burgers">Burgers</li>
            <li class="flist-item" data-category="Potato">Potato</li>
            <li class="flist-item" data-category="Snacks">Snacks</li>
            <li class="flist-item" data-category="Drinks">Drinks</li>
        </ul>
    </div>

    <div class="products">
        @foreach (var product in productRepository.GetAllProducts().Result)
        {
            <div class="product @product.Category">
                <img src="@product.ImageUrl" alt="@product.Title">
                <div class="product-info">
                    <h3>@product.Title</h3>
                    <p>₼@product.Price</p>
                </div>
            </div>
        }
    </div>
</div>